
<link rel="stylesheet" href="/css/home.css">

<section class="banner_simple">
    <div class="container">
        <h1>Aumente o fluxo do seu estabelecimento.</h1>
        <p>Seja um parceiro Card agora mesmo.</p>
        <a href="/#quero_fluxo" class="banner_button">Quero +fluxo</a>
    </div>
</section>

<section class="beneficios">
    <div>
        <h2>Benefícios de Ser um Parceiro Card</h2>
        <div class="beneficio_item">
            <h3>Mais Visibilidade</h3>
            <p>Seu estabelecimento será visto por mais clientes em potencial.</p>
        </div>
        <div class="beneficio_item">
            <h3>Aumento nas Vendas</h3>
            <p>Promoções exclusivas e ofertas para atrair mais clientes.</p>
        </div>
        <div class="beneficio_item">
            <h3>Suporte Dedicado</h3>
            <p>Equipe pronta para ajudar e garantir seu sucesso.</p>
        </div>
    </div>
</section>


<div id="quero_fluxo">
    <h2>Seja <span>+card</span> Tenha <span>+cliente</span></h2>
    <div>
        <form action="/quero_fluxo" method="post">
            <div>
                <p>Preencha os dados e seja <span>+fluxo</span> com nossos serviços</p>
            </div>
            <div>
                <label for="email">E-mail:</label>
                <input type="email" name="email" id="email" minlength="3" maxlength="255" required="required" placeholder="exemplo@grupocard.com.br" />
            </div>
            <div>
                <label for="contato">Número de contato:</label>
                <input type="tel" name="contato" id="contato" minlength="8" maxlength="20" required="required" placeholder="+55 (011) 91234-5678" onkeyup="handlePhone(event)" />
            </div>
            <div>
                <label for="nome">Nome:</label>
                <input type="text" name="nome" id="nome" minlength="1" maxlength="255" required="required" placeholder="GrupoCard" />
            </div>
            <div>
                <label for="localizacao">Localização:</label>
                <input type="text" name="localizacao" id="localizacao" minlength="1" maxlength="255" required="required" placeholder="Cidade, Estado" />
            </div>
            <div>
                <label for="cpf">CPF:</label>
                <input type="text" name="cpf" id="cpf" minlength="14" maxlength="14" required="required" placeholder="123.456.789-00"  onkeyup="handleCPF(event)" />
            </div>
            <div>
                <label for="local_divulgado">Como nos descobriu?</label>
                <select id="local_divulgado" name="local_divulgado" required="required">
                    <option value="">Por onde nos conheceu?</option>
                    <option value="E-mail">E-mail</option>
                    <option value="Google">Google</option>
                    <option value="Youtube">Youtube</option>
                    <option value="Outros">Outros</option>
                    <option value="Indicação de um amigo ou familiar">Indicação de um amigo ou familiar</option>
                    <option value="Facebook">Facebook</option>
                    <option value="LinkedIn">LinkedIn</option>
                    <option value="Instagram">Instagram</option>
                    <option value="Visita do Vendedor">Visita do Vendedor</option>
                    <option value="QRCODE na maquininha">QRCODE na maquininha</option>
                </select>
            </div>
            <div id="campo_extra_outros" style="display: none;">
                <label for="outros">Por onde foi?</label>
                <input type="text" name="outros" id="outros" maxlength="255" />
            </div>
            <div style="flex-direction: row;">
                <input type="checkbox" name="politica_de_privacidade" id="politica_de_privacidade" value="true">
                
                <label for="politica_de_privacidade">Eu li, estou ciente das condições de tratamento dos meus dados pessoais e dou meu consentimento, quando aplicável, conforme descrito nesta <a href="https://www.grupocard.com.br/politica-de-privacidade" target="_blank">Política de Privacidade</a>*</label>
            </div>
    
            <div>
                <button type="submit">Enviar</button>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript" src="javascript/home.js"></script>
